# Homework 1: Expressions and Conditionals
Working with arithmetic/boolean expressions and conditionals

### üí° Learning Outcomes
* Defining and working with variables
* Writing basic arithmetic expressions
* Using conditionals to dicate flow

### üìÖ Due Date
Monday 01/27 by 11:00 AM CDT

### Total Points
* Graded Out Of: 150
* Max Possible: 160 (10 Potential Bonus Points)

---

## Defining Variables
Valid naming in Python and common naming conventions

_Total: 24 Points_

### Snake Case
Pythonic way to write variable names: all lowercase with underscores
```python
user_age = 31            # Integer
math_pi = 3.14           # Float
first_name = "Hagen"     # String
is_active = True         # Boolean
```

‚ùì **Question 1 (6 points)**

Define three variables of three different types (`str`, `int`, etc.) using snake case. Note: your variables need to be at least two words long

In [5]:
# Variable 1

# Variable 2

# Variable 3

### Camel Case
A general, more common way to define variables: lowercase first word with capitalized proceeding words with no spaces
```python
userAge = 31                # Integer
mathPi = 3.14               # Float
userFirstName = "Hagen"     # String
isActive = True             # Boolean
```

‚ùì **Question 2 (6 points)**

Define three variables of three different types (`str`, `int`, etc.) using camel case. Note: your variables need to be at least two words long

In [6]:
# Variable 1

# Variable 2

# Variable 3

### Pascal Case
A modification on camelCase where the all words are titlecase.
```python
UserAge = 31                # Integer
MathPi = 3.14               # Float
UserFirstName = "Hagen"     # String
IsActive = True             # Boolean
```

‚ùì **Question 3 (6 points)**

Define three variables of three different types (`str`, `int`, etc.) using Pascal case. Note: your variables need to be at least two words long

In [7]:
# Variable 1

# Variable 2

# Variable 3

### All Caps
Variable names typically used for constants: all capital letters with hypens for spaces
```python
MAX_ATTEMPTS = 3           # Integer
MATH_PI = 3.14             # Float
SAVE_FOLDER = "data"       # String
DEV_ENV = True             # Boolean
```

‚ùì **Question 4 (6 points)**

Define three variables of three different types (`str`, `int`, etc.) using all caps.

In [8]:
# Variable 1

# Variable 2

# Variable 3

---

## Checking Data Type
Using Python's built-in functions: `type()` and `isinstance()`.

‚ùóBe sure to run the code cell below‚ùó

_Total: 21 Points_

In [9]:
word = "engineer"
year = 2025
temperature = 70.2
is_active = True

‚ùì **Question 5 (9 points)**

Practice using the `type()` function in the code cell below to output the data type. Follow the example that has been done for `word` where you save the output from `type()` into a variable and then print it out.

See [here](https://www.geeksforgeeks.org/python-type-function/) to learn more about this function.

In [10]:
# string
word_type = type(word)
print(word_type)

# integer


# float


# boolean

<class 'str'>

‚ùì **Question 6 (12 points)**

Practice using the `isinstance()` function in the code cell below to output the data type. Follow the example that has been done for `word` where you save boolean output from `isinstance()` into a variable and then print it out.

See [here](https://www.w3schools.com/python/ref_func_isinstance.asp) to learn more about how to use this function.

In [11]:
# string
is_str = isinstance(word, str)
print(is_str)

# integer


# float


# boolean

True

---

## Type Casting
Practice using the following built-in functions:
* `str()`
* `int()`
* `float()`
* `bool()`

_Total: 12 Points_

‚ùì **Question 7 (3 points)**

Cast the following variable to a string with `str()` and save the result into a variable. After you cast it, be sure to show the output with `print()`.

In [12]:
cost = 18.99
# cast the cost variable and save it to a variable called cost_str (2 Points)

# print cost_str (1 Point)

‚ùì **Question 8 (3 points)**

Cast the following string variable to an integer with `int()` and save the result into a variable. After you cast it, be sure to show the output with `print()`.

In [13]:
october = "10"
# cast the october variable and save it to a variable called october_int (2 Points)

# print october_int (1 Point)

‚ùì **Question 9 (3 points)**

Cast the following string variable to a float with `float()` and save the result into a variable. After you cast it, be sure to show the output with `print()`.

In [14]:
price_str = "11.99"
# cast the price_Str variable and save it to a variable called price (2 Points)

# print cost

‚ùì **Question 10 (3 points)**

Cast the following integer variable to a boolean with `bool()` and save the result into a variable. After you cast it, be sure to show the output with `print()`.

In [15]:
flag_int = 0
# cast the flag_int variable and save it to a variable called flag (2 Points)

# print flag (1 Point)

---

## Writing Arithmetic Expressions
Replicating real-world equations in Python

_Total: 31 Points_

For the questions that follow:
1. Define each of the variables used in the equation with _reasonable_ values
2. Rewrite the equation in Python, saving the calculation to a variable
3. Output the result

Below is an example to help you

üìò **Example: Area of a Rectangle**

$Area = \ell \times w$

In [16]:
# 1. Define each of the variables
length = 10
width = 4
# 2. Rewrite the equation, storing the result
area_rect = length * width
# 3. Output the result
print(area_rect)

40

‚ùì **Question 11: Area of a Triangle (10 points)**

$Area = 0.5 \times b \times h$

_Note: You do not need to define the constant 0.5 as a variable_

In [17]:
# 1. Define two variables (4 points)

# 2. Rewrite the equation (5 points)

# 3. Output the result (1 point)

‚ùì **Question 12: Celsius to Fahrenheit (8 points)**

$F = C \times \frac{9}{5} + 32$

In [18]:
# 1. Define one variable (2 points)

# 2. Rewrite the equation (6 points)

# 3. Output the result (1 point)

‚ùì **Question 13: Kinetic Energy (12 points)**

$KE = \frac{1}{2}mv^2$

In [19]:
# 1. Define two variable (4 points)

# 2. Rewrite the equation (7 points)

# 3. Output the result (1 point)

üí∞ **Bonus: Compound Interest (10 _additional_ points)**

$A = P \left(1 + \frac{R}{n} \right)^{nT}$

In [20]:
# 1. Define four variables (4 points)

# 2. Rewrite the equation (5 points)

# 3. Output the result (1 point)

---

## Conditionals
Writing boolean expressions and using `if` statements

_Total: 62 Points_

### Boolean Expressions
Creating simple and compound true/false expressions

‚ùì **Question 14 (15 points)**

Use typical math inequalities to create **four different** conditional expressions that **evaluate to false**, setting their result to some dummy variable (you don't need to output the value). Below is an example to follow.

```python
x = 2
y = 5
result = x < y
```

In [21]:
# Define at least two variables to use in your expressions (3 points)


# 1. Expression 1 (3 points)

# 2. Expression 2 (3 points)

# 3. Expression 3 (3 points)

# 4. Expression 4 (3 points)

‚ùì **Question 15 (13 points)**

Use the `or` and `and` logical operators to create **two** compound boolean expressions **that evaluate to true** using each operator, respectively. Below is an example to help you:

```python
x = 2
y = 5
result = (x < 3) and (y == 5)
```

In [22]:
# Define at least two variables to use in your expressions (3 points)


# 1. Expression 1: use `or` (5 points)

# 2. Expression 2: use `and` (5 points)

### Conditional Statements
Using `if` and `else` to dictate your code's flow

‚ùì **Question 16 (10 points)**

Create a code snippet following these instructions:

1. **Define a single `int` variable**: use any name you like and assign it a value e.g. x = 10.
2. **Write a conditional block**:
    * use an `if` statement to check a condition based on the variable.
    * follow the `if` clause with an `else` clause to handle cases where the condition is not met
3. **Add `print()` statements**:
    * Inside the `if` block, include a `print()` statement that outputs a message indicating the `if` block was reached.
    * Inside the `else` block, include a different `print()` statement that outputs a message indicating the `else` block was reached.

In [23]:
# define your integer variable (2 points)

# write the conditional if-else block including print statements (8 points)

‚ùì **Question 17 (2 points)**

Based on the conditional block you created in Question 10, what value of the variable you defined would cause the `print()` statement in the **`if` clause** to execute?

‚ùì **Question 18 (2 points)**

Conversely, based on the conditional block you created in Question 10, what value of the variable you defined would cause the `print()` statement in the **`else` clause** to execute?

‚ùì **Question 19 (14 points)**

Create another code snippet following these instructions:

1. **Define a single `float` variable**: use any name you like and assign it a value e.g. y = 12.5.
2. **Write a conditional block**:
    * use an `if` statement to check a condition based on the variable.
    * use an `elif` statement to check another condition.
    * follow the `elif` block with an `else` clause to handle cases where neither condition is met
3. **Add `print()` statements**:
    * Inside the `if` block, include a `print()` statement that outputs a message indicating the `if` block was reached.
    * Inside the `elif` block, include a different `print()` statement that outputs a message indicating the `elif` block was reached.
    * Inside the `else` block, include a `print()` statement that outputs a different message indicating the `else` block was reached.

In [24]:
# define your float variable (2 points)

# write the conditional if-elif-else block including print statements (12 points)

‚ùì **Question 20 (2 points)**

Based on the conditional block you created in Question 13, what value of the variable you defined would cause the `print()` statement in the **`if` clause** to execute?

‚ùì **Question 21 (2 points)**

Based on the conditional block you created in Question 13, what value of the variable you defined would cause the `print()` statement in the **`elif` clause** to execute?

‚ùì **Question 22 (2 points)**

Based on the conditional block you created in Question 13, what value of the variable you defined would cause the `print()` statement in the **`else` clause** to execute?

---