# Homework 2: Collections
Working with lists, tuples, and sets

### üí° Learning Outcomes
* Defining and working with `list`
* Basic understanding of `set` and `tuple`
* Defining and working with `dict`
* Creating basic `while` loops
* Creating basic `for` loops

### üìÖ Due Date
Monday 02/03 by 11:00 AM CDT

### Total Points
* Graded Out Of: 100
* Max Possible: 100

---

## Python `list`
Working with Python's most generic array: `list`

_Total: 40 Points_

### Defining `list` Variables
Practice defining variables of type `list`. Remember that these variables have elements enclosed in square brackets: `[ ]`

‚ùì **Question 1 (4 points)**

Define four `list` variables below **with at least three elements each**:
* `list` of `str`: all elements of the `list` variable are of type `str`
* `list` of `int`: all elements of the `list` variable are of type `int`
* `list` of `float`: all elements of the `list` variable are of type `float`
* Mixed `list`: at least two elements of the `list` are of different types

In [ ]:
# var 1 - list of str (1 Point)

# var 2 - list of int (1 Point)

# var 3 - list of float (1 Point)

# var 4 - mixed list (1 Point)

### Accessing `list` elements
Practice accessing different elements from a `list`. Use the variable name and square brackets with the index. Remember that Python collections are zero-indexed i.e. the first element is the "zeroth" element.
```python
sample_list = ["dog", 2, 3.99, True]
print(sample_list[0]) # dog
```

‚ùì **Question 2 (7 points)**

1. Create a Python `list` called `prices` that contains 3 potential prices for items you might find at a grocery store.
2. Store the sum of the first two items in a `float` variable.
3. Output the result using a `print()` statement

In [ ]:
# Create the `prices` variable (3 Points)

# Store the sum of the first two elements of `prices` in a new variable (3 Points)

# Output the result (1 Point)

‚ùì **Question 3 (3 points)**

I have a list of unknown length. I need to access the second-to-last element. How can I do this without knowing the length of list?

### Slicing `list`
You can access subsets of the original `list` by slicing:

```python
my_list_slice = my_list[start_index_inclusive:end_index_exclusive]
```

‚ùì **Question 4 (12 points)**

1. Create a `list` of `str` that contains the colors of the rainbow: ROYGBIV (7 elements: Red, Orange, Yellow, Green, Blue, Indigo, Violet)
2. Slice the first three elements into a new variable called `roy` and output it with `print()`
3. Slice from the 5th element (inclusive) the end of the list, storing into a new variable called `biv`. Output this variable with `print()`

In [ ]:
# Create your list of rainbow colors (4 Points)

# Slice the first three elements into a new variable named `roy` and output it (4 Points)


# Slice the 5th element (inclusive) to the end into a new variable called `biv` and output it (4 Points)

### `list` Operations
Practice with basic `list` operations

‚ùì **Question 5 (10 points)**

1. Create two `list` of `int` both with three elements each
2. Combine the two lists into one larger list
3. Update the first value of the new list to zero

In [ ]:
# Create two lists with three integer elements each (6 Points)


# Combine the two lists above into one larger list (2 Points)

# Change the first value of the new list to zero (2 Points)

‚ùì **Question 6 (4 points)**

Use list multiplication to create a `list` of 99 elements where each element is the integer 1. You should _not_ hardcode this variable i.e. do _not_ write:

```python
my_list = [1,1,1,1,...,1]
```

In [ ]:
# Create your list of 99 1s (3 Points)

# Output the resulting list (1 Point)

---

## Python `set` and `tuple`
Familiarity with these two variable types

_Total: 18 Points_

‚ùì **Question 7 (2 points)**

In your own words, state at least one difference between a `set` and a `list`.

Looking for one of two options:
* A `set` can only contain unique elements while a `list` can contain repeated elements
* A `set` is unordered while a `list` is ordered

‚ùì **Question 8 (10 points)**

1. Create two `set` of three numbers each, ensuring the integer 8 is present in both
2. Use the and operator `&` to create a new `set` of the overlap between the two `set` you just created
3. Output the new `set`

In [ ]:
# Create your two sets of length 3 with the integer 8 in each (6 points)


# Create a new set of the overlap from the two above sets using the & operator (3 points)

# Output the result (1 point)

‚ùì **Question 9 (2 points)**

In your own words, state at least one difference betwen a `tuple` and a `list`.

A `tuple` is immutable while a `list` is mutable

‚ùì **Question 10 (4 points)**

Create a `tuple` of `str` that contains the three types of modes of heat transfer.

In [ ]:
# create your str tuple of length 3 (4 Points)

---

## Python `dict`
Working with Python's json-like variable, the dictionary

_Total: 22 Points_

‚ùì **Question 11 (2 points)**

In Python, `set` and `dict` are both defined using curly brackets `{ }`. How does the Python interpreter know that you are defining a `dict` instead of a `set`? i.e. what is one differce between the two variable types?

A `dict` uses key-value pairs while a `set` only contains single elements

‚ùì **Question 12 (20 points)**
1. Create a `dict` with the following keys and adding the corresponding values.
    * `name`: Your first name of type `str`
    * `age`: Your age of type `int`
    * `is_student`: Whether you are a student or not of type `bool`
2. Access and output the `name` value of the `dict` you just created
3. Update the value at `name` with your full name
4. Add a new key called `major` to the `dict` and with a `str` value corresponding to your area of study
5. Add a new key called `courses` and assign it a `list` of `str` that contains at least two of the courses your are currently signed up for this semester.
6. Use the `del` command to delete the `is_student` key-value pair.
6. Output the `dict`

In [ ]:
# Define your dict below (6 Points)




# Access and output name (2 Points)

# Update the name field to your full name (2 Points)

# Add `major` with your area of study (3 Points)

# Add `courses` with at least two of your courses this semester (3 Points)

# Delete the `is_student` key-value pair (3 Points)

# Output the resulting dictionary (1 Point)

---

## `while` Loop
Creating a basic `while` loop

_Total: 10 Points_

‚ùì **Question 13 (10 points)**

Use the comments in the code cell below to create a `while` loop that:
1. Runs for 5 iterations
2. Prints out the iteration number

In [ ]:
# create an index variable called `i` and set it equal to 0 (2 Point)

# create your while loop using a less-than boolean expression with `i` (4 Points)

  # output the iteration number which will be one more than the value in `i` (3 Points)

  # INCREASE THE VALUE OF `i` TO AVOID AN INFINITE LOOP! (1 Point)

## `for` Loop
Creating basic `for` loops

_Total: 10 Points_

‚ùì **Question 14 (5 points)**

Use the comments in the code cell below to create a `for` loop that:
1. Runs for 5 iterations
2. Prints out the iteration number

In [ ]:
# create the for loop using an index `i` and the `range()` function (3 Points)

  # print out the iteration number which will be 1 more than the value of `i` (2 Points)

‚ùì **Question 15 (5 points)**

Use the comments in the code cell below to create a `for` loop that:
1. Loops through each element in a list
2. Prints out the list item

In [ ]:
# create a list of str containing at least three planets (1 Point)

# create the for loop to iterate over each item in the list you just created (3 Points)

  # print out the item (1 Point)

---